@page "/viewTaskByEmployee/"
@page "/viewTaskByEmployee/{TaskType}"
@inherits CamcoTasks.Pages.Tasks.ViewTaskByEmployeeModel

@using CamcoTasks.ViewModels.TasksTaskUpdatesDTO;
@using CamcoTasks.ViewModels.TasksTasksDTO;
@using CamcoTasks.ViewModels.TasksTasksTaskTypeDTO;
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.DropDowns
<div class="col-12 navbar navbar-expand screenLabel position-fixed top-row m-0 p-0 screenLabelStyle">
    <div class="col-12 m-0 p-0" style="font-size: 18px; text-align: left;"><span style="float: left">Ma / Me / ViTaByTaTy</span></div>
</div >
<h5 class="modal-title text-info h1 mt-1">VIEW TASK BY TASKTYPE</h5>
<br />

<label class="mr-1 mt-1">Select TaskType</label>
<SfDropDownList PopupHeight="230px" Width="240px" TValue="int?"  TItem="TasksTasksTaskTypeViewModel" DataSource="@TaskEnum">
    <DropDownListFieldSettings Value="Id" Text="TaskType"></DropDownListFieldSettings>
    <DropDownListEvents TItem="TasksTasksTaskTypeViewModel" TValue="int?"
                    OnValueSelect="LoadEmployeeData"></DropDownListEvents>
</SfDropDownList> <br /><br />

<SfGrid @ref="TasksGrid" Toolbar="@(new List<object>() { "Print","ExcelExport" ,"PdfExport","CsvExport","Search" })"
        TValue="TasksTasksViewModel" AllowSelection="false" AllowPaging="false" DataSource="@SelectedTaskTypeList"
        AllowFiltering="false" Width="1950px"
        EnableVirtualization="true" AllowTextWrap="true" EnableHover="false" Height="400" RowHeight="38">
    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
    <GridSelectionSettings CheckboxOnly="true" PersistSelection="true" Type="SelectionType.Multiple"></GridSelectionSettings>
    <GridColumns>
        <GridColumn TextAlign="TextAlign.Left" HeaderTextAlign="TextAlign.Left" AllowFiltering="false"
                    Field=@nameof(TasksTasksViewModel.Id) HeaderText="ID" Visible="true" IsPrimaryKey=" false"
                    Width="55">
        </GridColumn>
        <GridColumn TextAlign="TextAlign.Left" HeaderTextAlign="TextAlign.Left"
                    EditType="EditType.NumericEdit" Field=@nameof(TasksTasksViewModel.Priority)
                    AllowEditing="true" AllowAdding="true" HeaderText="PRIORITY"
                    Visible="true" IsPrimaryKey="false" Width="50"></GridColumn>
        <GridColumn TextAlign="TextAlign.Left" HeaderTextAlign="TextAlign.Left"
                    Field=@nameof(TasksTasksViewModel.Initiator) HeaderText="Initiator"
                    ClipMode="ClipMode.EllipsisWithTooltip" Width="145"
                    FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Excel })"></GridColumn>
        <GridColumn TextAlign="TextAlign.Left" HeaderTextAlign="TextAlign.Left"
                    Field=@nameof(TasksTasksViewModel.TaskType) HeaderText="TASK TYPE"
                    ClipMode="ClipMode.EllipsisWithTooltip" Width="145"
                    FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Excel })">
        </GridColumn>
        <GridColumn TextAlign="TextAlign.Left" HeaderTextAlign="TextAlign.Left"
                    Field=@nameof(TasksTasksViewModel.Description) Width="400" HeaderText="DESCRIPTION" AllowFiltering="false"
                    FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Menu })"></GridColumn>
        <GridColumn TextAlign="TextAlign.Center" HeaderTextAlign="TextAlign.Center" HeaderText="REVIEWED" Width="140"
                    FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Menu })">
        </GridColumn>
        <GridColumn TextAlign="TextAlign.Left" HeaderTextAlign="TextAlign.Left"
                    Field=@nameof(TasksTasksViewModel.DateAdded) HeaderText="DATE ADDED" Width="130" Format="MM/dd/yyyy"
                    FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Menu })"
                    ClipMode="ClipMode.EllipsisWithTooltip"></GridColumn>
        <GridColumn TextAlign="TextAlign.Left" HeaderTextAlign="TextAlign.Left"
                    Field=@nameof(TasksTasksViewModel.LatestUpdate) HeaderText="LATEST UPDATE" Width="135" Format="MM/dd/yyyy"
                    FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Menu })"
                    ClipMode="ClipMode.EllipsisWithTooltip"></GridColumn>
        <GridColumn TextAlign="TextAlign.Left" HeaderTextAlign="TextAlign.Left"
                    Field=@nameof(TasksTasksViewModel.DateCompleted)
                    HeaderText="DATE COMPLETED" Format="MM/dd/yyyy" Width="160" FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Menu })" ClipMode="ClipMode.EllipsisWithTooltip"></GridColumn>
        <GridColumn TextAlign="TextAlign.Center" HeaderTextAlign="TextAlign.Center" HeaderText="ACTION"
                    ClipMode="ClipMode.EllipsisWithTooltip" Width="160">
            <Template>
                @{
                    <a href="javascript:void(0);"
                       style="font-size: 12px; margin-left: 3px; min-width: 140px; margin-bottom: 3px;"
                       type="button" data-placement="top" title="Task Updates"
                       data-original-title="Task Updates" data-toggle="modal" data-target="#TaskUpdatesModal"
                       @onclick="(e => ViewTaskUpdates((context as TasksTasksViewModel)))">
                        <img src="/Icons/ViewUpdates.png" style="width:140px;" />
                    </a>
                }
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>
<div>
    <div class="modal large-modal fade" id="TaskUpdatesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document" style="max-width: 100%; width:90%">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold;">VIEW ONE-TIME TASK UPDATES</h5>
                    <button class="btn btn-danger" @onclick="(() => CloseOTTUpdateModal())"><i class="flaticon-cancel-12"></i>CLOSE</button>
                </div>
                <div class="modal-body">
                    <div class="row" style="margin-bottom:20px;text-align:center">
                        <div class="col-md-12" style="margin-bottom:10px;">
                            <span style="font-size: 18px;font-weight: 600;">
                                @UpdatesTask.Description
                            </span>
                        </div>
                        <div class="col-md-2 mb-3">
                            <a id="btn1" href="javascript:void(0);" class="btn btn-primary btn-sm btn-block"
                               role="button" data-placement="top" title="" data-toggle="modal" data-target="#AddTaskUpdate"
                               data-original-title="Add" @onclick="@(e => RefreshUpdateModal(true))">
                                ADD UPDATE
                            </a>
                        </div>
                        @if (UpdatesTask.ImagesCount > 0)
                        {
                            <div class="col-md-2">
                                <a id="btn1" href="javascript:void(0);" class="btn btn-info btn-sm btn-block btn-block"
                                   style="margin-left:5px"
                                   role="button" data-placement="top" title="" data-original-title="View"
                                   data-toggle="modal" data-target="#MultiImagesModal"
                                   @onclick="(() => LoadTaskImages(UpdatesTask))">
                                    VIEW TASK IMAGES
                                </a>
                            </div>
                        }

                        @if (UpdatesTask.FilesCount > 0)
                        {
                            <div class="col-md-2">
                                <a id="btn1" href="javascript:void(0);" class="btn btn-info btn-sm btn-block btn-block"
                                   style="margin-left:5px"
                                   role="button" data-placement="top" title="" data-original-title="View"
                                   data-toggle="modal" data-target="#MultiFilesModal"
                                   @*@onclick="(() => LoadTaskFiles(UpdatesTask))" *@>
                                    VIEW TASK FILES
                                </a>
                            </div>
                        }

                        <div class="col-md-12">
                            <SfGrid @ref="UpdateGrid" DataSource="@UpdatesTask.TasksTaskUpdates" ID="Detailscontainer"
                                    AllowSelection="true" AllowSorting="true" AllowPaging="false" AllowResizing="true"
                                    AllowTextWrap="true" EnableHover="true" RowHeight="38">

                                <GridSelectionSettings Mode="Syncfusion.Blazor.Grids.SelectionMode.Row"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn TextAlign="TextAlign.Center" HeaderTextAlign="TextAlign.Center"
                                                Format="MM/dd/yyyy" DefaultValue="@DateTime.Today"
                                                Field=@nameof(TasksTaskUpdatesViewModel.UpdateDate)
                                                HeaderText="UPDATE DATE" Width="150"></GridColumn>
                                    <GridColumn TextAlign="TextAlign.Left" HeaderTextAlign="TextAlign.Center"
                                                Field=@nameof(TasksTaskUpdatesViewModel.Update) HeaderText="UPDATE" Width="700"
                                                ClipMode="ClipMode.EllipsisWithTooltip"></GridColumn>
                                    <GridColumn TextAlign="TextAlign.Center" HeaderTextAlign="TextAlign.Center" Width="220"
                                                AllowFiltering="false" AutoFit="true" HeaderText="ACTION">
                                        <Template Context="EditDeleteContext">
                                            @if (!string.IsNullOrEmpty((EditDeleteContext as TasksTaskUpdatesViewModel).PictureLink))
                                            {
                                                <a id="btn1" href="javascript:void(0);"
                                                   type="button" data-placement="top" title="" data-original-title="Delete"
                                                   data-toggle="modal" data-target="#ImageModal"
                                                   @onclick="(() => ViewUpdateImage(EditDeleteContext as TasksTaskUpdatesViewModel))">
                                                    <img src="/Icons/ViewImage.png" class="icon" />
                                                </a>
                                            }
                                        </Template>
                                    </GridColumn>
                                </GridColumns>
                            </SfGrid>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="AddTaskUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
         style="background-color: rgba(0, 0, 0, 0.80);">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ADD TASK UPDATE</h5>
                    <div class="text-light text-right">
                        <a class="btn btn-danger" @onclick="(()=>CloseOTTAddTaskUpdate())">CANCEL</a>
                        <a type="button" class="btn btn-success" @onclick="(async () => await AddNewUpdate(false))">SAVE</a>
                        <a type="button" class="btn btn-primary" @onclick="(async () => await AddNewUpdate(true))">SAVE & CLOSE</a>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>UPDATE DATE</label>
                                    <Syncfusion.Blazor.Calendars.SfDatePicker ShowTodayButton="true"
                                                                              ID="OneTimeUpdDate" @bind-Value="@tasksTaskUpdate.UpdateDate">
                                        <Syncfusion.Blazor.Calendars.DatePickerEvents TValue="DateTime" ValueChange="CheckOneTimeUpdDate"></Syncfusion.Blazor.Calendars.DatePickerEvents>
                                    </Syncfusion.Blazor.Calendars.SfDatePicker>
                                    <div class="text-danger">@ErrorDateMessage</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label style="font-weight:bold; font-size:14px;">IS TASK COMPLETED?</label><br />
                                    <Syncfusion.Blazor.Buttons.SfCheckBox Label="" TChecked="bool" @bind-Checked="@IsTaskDone">
                                    </Syncfusion.Blazor.Buttons.SfCheckBox>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <Syncfusion.Blazor.Inputs.SfUploader AllowedExtensions=".pdf,.txt,.pptx,.zip,.rar,.pdf,.pptx,.docx,.doc,.xlsx,.xlsb,.csv,.jpg,.png,.gif,.jpeg,.bmp,.svg,.jfif,.apng,.ico"
                                                                         ID="UploadFiles" AutoUpload="true" Multiple="false" @ref="UploadObj">
                                        <Syncfusion.Blazor.Inputs.UploaderEvents ValueChange="SelectImage" />
                                    </Syncfusion.Blazor.Inputs.SfUploader>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>UPDATE</label>
                                    <Syncfusion.Blazor.Inputs.SfTextBox CssClass="customvalidate" HtmlAttributes="@htmlAttributeBig" Multiline="true" Placeholder="Enter Update"
                                                                        ID="OneTUpdNoteId" OnChange="CheckOneTimeNote" @bind-Value="@tasksTaskUpdate.Update">
                                    </Syncfusion.Blazor.Inputs.SfTextBox>
                                    <div class="text-danger">@ErrorUpdateMessage</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <!--<div class="modal fade" id="EditUpdateDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
         style="background-color: rgba(0, 0, 0, 0.80);">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">EDIT TASK UPDATE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <EditForm Model="@UpdateEditContext" OnValidSubmit="HandleUpdateModel">
                            <div class="container">
                                <div class="row">-->
    @*<DataAnnotationsValidator />
        <ValidationSummary />*@
    <!--<div class="col-md-6">
                                        <div class="form-group">
                                            <label>DATE: </label><br />
                                            <Syncfusion.Blazor.Calendars.SfDatePicker ID="OneTEditDateId" @bind-Value="UpdateEditContext.UpdateDate">
                                                <Syncfusion.Blazor.Calendars.DatePickerEvents TValue="DateTime" ValueChange="CheckOneTEditDate"></Syncfusion.Blazor.Calendars.DatePickerEvents>
                                            </Syncfusion.Blazor.Calendars.SfDatePicker>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>UPDATE: </label><br />
                                            <Syncfusion.Blazor.Inputs.SfTextBox CssClass="viewTasksTextBox-height e-outline" Multiline="true"
                                                                                ID="OneTEditDescId" OnChange="CheckOneTEditDesc" @bind-Value="UpdateEditContext.Update">
                                            </Syncfusion.Blazor.Inputs.SfTextBox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-outline-success" style="margin-top:20px;align-items:center; margin-left:10px; float: right;" type="submit">SUBMIT</button>
                            <button class="btn btn-danger" style="margin-top:20px;align-items:center; float: right;"
                                    data-type="button" data-dismiss="modal">
                                CANCEL
                            </button>
                        </EditForm>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>-->
    @*<div class="modal fade" id="deleteTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">DELETE TASK</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>DO YOU WANT TO DELETE THIS TASK ?</h4>
                        <table class="table table-danger">
                            <tr>
                                <td>ID:</td>
                                <td>@SelectedTask.Id</td>
                            </tr>
                            <tr>
                                <td>TASK TYPE:</td>
                                <td>@SelectedTask.TaskType</td>
                            </tr>
                            <tr>
                                <td>DESCRIPTION:</td>
                                <td>@SelectedTask.Description</td>
                            </tr>
                            <tr>
                                <td>PRIORITY:</td>
                                <td>@SelectedTask.Priority</td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-dismiss="modal"><i class="flaticon-cancel-12"></i> NO</button>
                        <button type="button" data-dismiss="modal" class="btn btn-success"
                                @onclick="(async () => await ConfirmDelete())">
                            YES
                        </button>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
         style="background-color: rgba(0, 0, 0, 0.80);">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">DELETE UPDATE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>DO YOU WANT TO DELETE THIS UPDATE ?</h4>
                    <table class="table table-danger">
                        <tr>
                            <td>ID:</td>
                            <td>@DeleteViewModelUpdate.UpdateId</td>
                        </tr>
                        <tr>
                            <td>UPDATE DATE:</td>
                            <td>@DeleteViewModelUpdate.UpdateDate</td>
                        </tr>
                        <tr>
                            <td>UPDATE:</td>
                            <td>@DeleteViewModelUpdate.Update</td>
                        </tr>
                        <tr>
                            <td>TASK ID:</td>
                            <td>@DeleteViewModelUpdate.TaskID</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal"><i class="flaticon-cancel-12"></i> NO</button>
                    <button type="button" data-dismiss="modal" class="btn btn-success"
                            @onclick="(async () => await DeleteUpdate(DeleteViewModelUpdate))">
                        YES
                    </button>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade bd-example-modal-xl" id="ImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.80);">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">VIEW IMAGE</h5>
                    <button type="button" style="margin-left: 10px; width:100px;" @onclick="@(()=> PrintingImage(TaskImage))" class="btn btn-primary btn-sm">Print</button>
                    <button type="button" class="close" @onclick="(() => CloseImageModal())" aria-label="Close">
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                </div>
                <div class="modal-body">
                    @if (!string.IsNullOrEmpty(TaskImage))
                    {
                        <div class="form-group">
                            <img class="d-block w-100" src=@TaskImage alt="RECURRING Task Image">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .e-grid .e-altrow {
        background-color: #EBEBEB;
    }

    .e-grid .e-headercell {
        background-color: #24202C;
    }

    .e-headercell {
        color: white;
        font-size: 11px;
        font-weight: bold;
        width: 300px;
    }

    .e-grid .e-headercell, .e-grid .e-detailheadercell {
        background-color: #24202C;
        border-color: #24202C;
    }

    .customvalidate {
        background-color: #F7EA02 !important;
    }

    .icon {
        width: 45px;
    }
</style>
