@inherits MetricsComponentModel

<div class="row">
	<div class="form-group col-md-2 Out-Side">
		<a id="btn1" href="javascript:void(0);" class="btn btn-info no-print btn-block In-side"
		   role="button" data-placement="top" style="height:100%;" @onclick="@(() => NavigateComponent(1))">
			General
		</a>
	</div>

	<div class="form-group col-md-2 Out-Side">
		<a id="btn1" href="javascript:void(0);" class="btn btn-info no-print btn-block In-side"
		   role="button" data-placement="top" style="height:100%;" @onclick="@(async () => NavigateComponent(2))">
			Purchasing
		</a>
	</div>

	<div class="form-group col-md-2 Out-Side">
		<a id="btn1" href="javascript:void(0);" class="btn btn-info no-print btn-block In-side"
		   role="button" data-placement="top" style="height:100%;" @onclick="@(async () => NavigateComponent(3))">
			Quality
		</a>
	</div>

	<div class="form-group col-md-2 Out-Side">
		<a id="btn1" href="javascript:void(0);" class="btn btn-info no-print btn-block In-side"
		   role="button" data-placement="top" style="height:100%;" @onclick="@(async () => NavigateComponent(4))">
			Maintenance
		</a>
	</div>

	<div class="form-group col-md-2 Out-Side">
		<a id="btn1" href="javascript:void(0);" class="btn btn-info no-print btn-block In-side"
		   role="button" data-placement="top" style="height:100%;" @onclick="@(async () => NavigateComponent(5))">
			Stockroom
		</a>
	</div>

	<div class="form-group col-md-2 Out-Side">
		<a id="btn1" href="javascript:void(0);" class="btn btn-info no-print btn-block In-side"
		   role="button" data-placement="top" style="height:100%;" @onclick="@(async () => NavigateComponent(6))">
			Production
		</a>
	</div>

</div>